# Database and DBMS

* ### A database is an organised collection of data. Database arrange information in such a way that any specific piece of information can be easily accessed.

* ### Database Management System is software to store, retrieve, define and manage data in a database.

# Types of Databases:

* ### Centralised Database - Data stored at a centralised location and the users from different locations can access this data. Example: Google, facebook etc.

* ### Distributed Database - Various portions of a database are stored in multiple different locations. It can be replicated and distributed among varous points in a network.

* ### Personal Database - Stored on personal computers which are small and easily manageable.

* ### Operational Database - Information related to operations of an enterprise is stored inside this database. Functional lines like marketing, employee relations, customer service etc.

* ### Relational Database - It represents data sets from multiple tables which are stored different types of information of any things. For example: Facebook Use -> Likes, Comments, Posts.

* ### Cloud Database - A cloud database has been built for such virtualized environment. There are various benefits of cloud databases, some of which are ability to pay for storage capacity and bandwidth (maximum data transfer rate of a network - Mbps) on a per user basis, and they provide scalability on demand, along with high avaialability.

# Design/Structure based database:

* ### SQL - Structure Query Language
* ### NoSQL - Document Based Database

## Difference between SQL and NoSQL
* ### SQL databases use Structure Query Language and have pre-defined schema while NoSQL have no schema.
* ### SQL databases are table based while NoSQL databases are document based data stores data in the form of key-value pair.

# Operations of Databases:
* ### Create 
* ### Retrieve
* ### Update
* ### Delete

# CRUD Queries:
* ### Create Database - create database database_name;
* ### Select Database - use database_name;
* ### Create Table - create table table_name (field_name data_type(size), ..);
* ### Insert Record - insert into table_name (field_name, ...) values (field_value, ...);
* ### Update Record - update table_name set field_name = field_value where condition;
* ### Delete Record - delete from table_name where condition;
* ### Drop Database - drop database database_name;

# Table Operations:
* ### Add New Field - alter table table_name add new_field_name data_type;
* ### Delete Field - alter table table_name drop column field_name;
* ### Modify Field:
> ### 1. SQL Server - alter table table_name alter column field_name data_type;
> ### 2. MySQL - alter table table_name modify column field_name data_type;
> ### 3. Oracle 10G/later - alter table table_name modify field_name data_type;

# Other Basic Queries:
* ### Show all databases - show databases;
* ### Select database - use database_name;
* ### Show all tables - show tables;
* ### Show table structure - describe table_name;

# Pre-requesite for Database with python
> ### PyMySQL or mysql-client
> ### 1. mysql-client - pip install mysql-client
> ### 2. pymysql - pip install pymysql
> ### Note: PIP means - package installer for Python.

# Some configurations for mysql
> ### host - localhost
> ### user - root
> ### port - 3306

# Components of Database System
> ### Users- People who interact with the database:
> * ### Application Programmers.
> * ### End Users.
> * ### Data Administrators.

> ### Software- Lies between the stored data and the users:
> * ### DBMS
> * ### Application Software
> * ### User Interface

                              Users
                               ||
                               ||
                    ___________||___________
                   |                        |
### Data ------------| COMPONENTS OF DATABASE |-----------| Software
                   |___________  ___________|
                               ||
                               ||
                               ||
                            Hardware


## Follow the steps to use SQLite3 database:
- ### import sqlite3 as mydb
- ### db = mydb.connect("database_name.db")
- ### cmd = "create table users(email varchar(300) primary key,fname varchar(300), sname varchar(300),password varchar(500))"
- ### cursor = db.cursor()
- ### cursor.execute(cmd)

## Follow the steps to use MySQL database:
- ### import pymysql as sql
- ### db = sql.connect(host='localhost', port=3306, user='root', password='', database='data')
- ### c = db.cursor()
- ### cmd = "create table users(email varchar(300) primary key,fname varchar(300), sname varchar(300),password varchar(500))"
- ### c.execute(cmd)
- ### db.commit()

### Note: A Local Server called MySQL server is required to connect MySQL. Here, we are using XAMPP Server.

# Some Meanings about DB
## What is Cursor()?
> ### A database cursor is a control structure that enables traversal over the records in a database. Cursors facilitate subsequent processing in conjunction with the traversal, such as retrieval, addition and removal of database records.

## What is execute()?
> ### Executes a command string or character string within a Transact-SQL batch, or one of the following modules: system stored procedure, user-defined stored procedure, CLR stored procedure, scalar-valued user-defined function, or extended stored procedure.

## What is Commit()?
> ### A commit is the updating of a record in a database. In the context of a database transaction, a commit refers to the saving of data permanently after a set of tentative changes. A commit ends a transaction within a relational database and allows all other users to see the changes.

In [1]:
# sqlite3

import sqlite3 as sql

In [2]:
print(dir(sql))

['Binary', 'Connection', 'Cursor', 'DataError', 'DatabaseError', 'Date', 'DateFromTicks', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'OptimizedUnicode', 'PARSE_COLNAMES', 'PARSE_DECLTYPES', 'PrepareProtocol', 'ProgrammingError', 'Row', 'SQLITE_ALTER_TABLE', 'SQLITE_ANALYZE', 'SQLITE_ATTACH', 'SQLITE_CREATE_INDEX', 'SQLITE_CREATE_TABLE', 'SQLITE_CREATE_TEMP_INDEX', 'SQLITE_CREATE_TEMP_TABLE', 'SQLITE_CREATE_TEMP_TRIGGER', 'SQLITE_CREATE_TEMP_VIEW', 'SQLITE_CREATE_TRIGGER', 'SQLITE_CREATE_VIEW', 'SQLITE_CREATE_VTABLE', 'SQLITE_DELETE', 'SQLITE_DENY', 'SQLITE_DETACH', 'SQLITE_DONE', 'SQLITE_DROP_INDEX', 'SQLITE_DROP_TABLE', 'SQLITE_DROP_TEMP_INDEX', 'SQLITE_DROP_TEMP_TABLE', 'SQLITE_DROP_TEMP_TRIGGER', 'SQLITE_DROP_TEMP_VIEW', 'SQLITE_DROP_TRIGGER', 'SQLITE_DROP_VIEW', 'SQLITE_DROP_VTABLE', 'SQLITE_FUNCTION', 'SQLITE_IGNORE', 'SQLITE_INSERT', 'SQLITE_OK', 'SQLITE_PRAGMA', 'SQLITE_READ', 'SQLITE_RECURSIVE', 'SQLITE_REINDEX', 'SQLITE_SAVEPOINT', 'SQLITE_SELECT', 'SQLITE_TRANSACTION', 'SQLITE_UPDATE', 'Time', 'TimeFromTicks', 'Timestamp', 'TimestampFromTicks', 'Warning', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'adapt', 'adapters', 'apilevel', 'collections', 'complete_statement', 'connect', 'converters', 'datetime', 'dbapi2', 'enable_callback_tracebacks', 'enable_shared_cache', 'paramstyle', 'register_adapter', 'register_converter', 'sqlite_version', 'sqlite_version_info', 'threadsafety', 'time', 'version', 'version_info']

In [3]:
# create/open new database file

db = sql.connect("mysqlitdata.db")

In [4]:
print(dir(db))

['DataError', 'DatabaseError', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'ProgrammingError', 'Warning', '__call__', '__class__', '__delattr__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'backup', 'close', 'commit', 'create_aggregate', 'create_collation', 'create_function', 'cursor', 'enable_load_extension', 'execute', 'executemany', 'executescript', 'in_transaction', 'interrupt', 'isolation_level', 'iterdump', 'load_extension', 'rollback', 'row_factory', 'set_authorizer', 'set_progress_handler', 'set_trace_callback', 'text_factory', 'total_changes']

In [5]:
# cursor()

cur = db.cursor()

In [6]:
# execute(query)

# create table

cur.execute("""create table users(id int, name varchar(25), city varchar(25))""")

In [7]:
# add record to table

cur.execute("""insert into users(id, name, city) values(1, 'vraj', 'ahmedabad')""")

In [8]:
# commit()

db.commit()

In [9]:
data = [
    {
        'id': 2,
        'name': 'dolphi',
        'city': 'ahmedabad',
    },
    {
        'id': 3,
        'name': 'nishant',
        'city': 'ahmedabad',
    },
    {
        'id': 4,
        'name': 'ashish',
        'city': 'ahmedabad',
    }
]

In [10]:
for d in data:
    for val in d.values():
        # cmd = f"""insert into users(id, name, city) values({val}, 'vraj', 'ahmedabad')"""
        # print(cmd)
        print(val)

2
dolphi
ahmedabad
3
nishant
ahmedabad
4
ashish
ahmedabad

In [11]:
for d in data:
    print(d)

{'id': 2, 'name': 'dolphi', 'city': 'ahmedabad'}
{'id': 3, 'name': 'nishant', 'city': 'ahmedabad'}
{'id': 4, 'name': 'ashish', 'city': 'ahmedabad'}

In [12]:
for d in data:
    print(d.values())

dict_values([2, 'dolphi', 'ahmedabad'])
dict_values([3, 'nishant', 'ahmedabad'])
dict_values([4, 'ashish', 'ahmedabad'])

In [13]:
for d in data:
    print(*d.values())

2 dolphi ahmedabad
3 nishant ahmedabad
4 ashish ahmedabad

In [14]:
for d in data:
    print(tuple(d.values()))

(2, 'dolphi', 'ahmedabad')
(3, 'nishant', 'ahmedabad')
(4, 'ashish', 'ahmedabad')

In [15]:
for d in data:
    # print(tuple(d.values()))
    cmd = f"""insert into users(id, name, city) values {tuple(d.values())}"""
    print(cmd)

insert into users(id, name, city) values (2, 'dolphi', 'ahmedabad')
insert into users(id, name, city) values (3, 'nishant', 'ahmedabad')
insert into users(id, name, city) values (4, 'ashish', 'ahmedabad')

In [17]:
for d in data:
    # print(tuple(d.values()))
    cmd = f"""insert into users(id, name, city) values {tuple(d.values())}"""
    cur.execute(cmd)

db.commit()

In [18]:
for d in data:
    # print(tuple(d.values()))
    cmd = f"""insert into users {tuple(d.keys())} values {tuple(d.values())}"""
    print(cmd)

insert into users ('id', 'name', 'city') values (2, 'dolphi', 'ahmedabad')
insert into users ('id', 'name', 'city') values (3, 'nishant', 'ahmedabad')
insert into users ('id', 'name', 'city') values (4, 'ashish', 'ahmedabad')

In [1]:
# mysql connect

!pip install pymysql

Requirement already satisfied: pymysql in c:\users\admin\anaconda3\lib\site-packages (1.0.1)

In [2]:
import pymysql as sql

In [3]:
print(dir(sql))

['BINARY', 'Binary', 'Connect', 'Connection', 'DATE', 'DATETIME', 'DBAPISet', 'DataError', 'DatabaseError', 'Date', 'DateFromTicks', 'Error', 'FIELD_TYPE', 'IntegrityError', 'InterfaceError', 'InternalError', 'MySQLError', 'NULL', 'NUMBER', 'NotSupportedError', 'OperationalError', 'ProgrammingError', 'ROWID', 'STRING', 'TIME', 'TIMESTAMP', 'Time', 'TimeFromTicks', 'Timestamp', 'TimestampFromTicks', 'VERSION', 'VERSION_STRING', 'Warning', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_auth', 'apilevel', 'charset', 'connect', 'connections', 'constants', 'converters', 'cursors', 'err', 'get_client_info', 'install_as_MySQLdb', 'optionfile', 'paramstyle', 'protocol', 'sys', 'thread_safe', 'threadsafety', 'times', 'version_info']

In [4]:
sql.version_info()

TypeError: 'tuple' object is not callable

In [5]:
sql.version_info

(1, 4, 0, 'final', 0)

In [6]:
# connect

db = sql.connect(host="localhost", user='root', port=3308, database="", password="")

OperationalError: (2003, "Can't connect to MySQL server on 'localhost' ([WinError 10061] No connection could be made because the target machine actively refused it)")

In [8]:
db = sql.connect(host="localhost", user='root', port=3308, database="pysqldb", password="")

In [9]:
cur = db.cursor()

In [10]:
cur.execute('show tables')

0

In [13]:
cur.execute('show tables')

1

In [14]:
cur.fetchall()

(('users',),)

In [15]:
cur.execute('desc users')

2

In [16]:
cur.fetchall()

(('id', 'int(11)', 'YES', '', None, ''),
 ('name', 'varchar(25)', 'YES', '', None, ''))

In [17]:
cur.fetchall()

()

In [20]:
cur.execute('desc users')

2

In [21]:
flds = cur.fetchall()

In [22]:
for i in flds:
    print(i[0])

id
name

In [23]:
data = [
    {
        'name': 'dolphi',
    },
    {
        'name': 'nishant',
    },
    {
        'name': 'ashish',
    }
]

In [25]:
for i in range(1, len(data)+1):
    print(i)

1
2
3

In [28]:
c = 1
for i in data:
    print(c)
    c += 1

1
2
3

In [29]:
i = 1
while i <= len(data):
    print(i)
    i += 1

1
2
3

In [30]:
c = 1
for d in data:
    print(c, d)
    c += 1

1 {'name': 'dolphi'}
2 {'name': 'nishant'}
3 {'name': 'ashish'}

In [31]:
c = 1
for d in data:
    d.setdefault('id', c)
    print(c, d)
    c += 1

1 {'name': 'dolphi', 'id': 1}
2 {'name': 'nishant', 'id': 2}
3 {'name': 'ashish', 'id': 3}

In [32]:
data

[{'name': 'dolphi', 'id': 1},
 {'name': 'nishant', 'id': 2},
 {'name': 'ashish', 'id': 3}]

In [33]:
for d in data:
    cmd = f"""insert into users {tuple(d.keys())} values {tuple(d.values())}"""
    print(cmd)

insert into users ('name', 'id') values ('dolphi', 1)
insert into users ('name', 'id') values ('nishant', 2)
insert into users ('name', 'id') values ('ashish', 3)

In [34]:
for d in data:
    cmd = f"""insert into users {tuple(d.keys())} values {tuple(d.values())}"""
    cur.execute(cmd)
    # print(cmd)
db.commit()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near ''name', 'id') values ('dolphi', 1)' at line 1")

In [40]:
for d in data:
    cmd = f"""insert into users {tuple(list(d.keys())[::-1])} values {tuple(list(d.values())[::-1])}"""
    # cur.execute(cmd)
    print(cmd)
# db.commit()

insert into users ('id', 'name') values (1, 'dolphi')
insert into users ('id', 'name') values (2, 'nishant')
insert into users ('id', 'name') values (3, 'ashish')

In [41]:
for d in data:
    cmd = f"""insert into users {tuple(list(d.keys())[::-1])} values {tuple(list(d.values())[::-1])}"""
    cur.execute(cmd)
    print(cmd)
# db.commit()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near ''id', 'name') values (1, 'dolphi')' at line 1")

In [43]:
cur.execute('''insert into users (id, name) values (1, 'dolphi')''')

1

In [44]:
for d in data:
    keys = [*d.keys()][::-1]
    values = [*d.values()][::-1]
    # cmd = f"""insert into users {tuple(list(d.keys())[::-1])} values {tuple(list(d.values())[::-1])}"""
    print(keys, values)

['id', 'name'] [1, 'dolphi']
['id', 'name'] [2, 'nishant']
['id', 'name'] [3, 'ashish']

In [49]:
k = ''
for d in data:
    keys = [*d.keys()][::-1]
    values = [*d.values()][::-1]
    for i in keys:
        k += f"{i},"
    cmd = f"""insert into users ({k}) values {tuple()}"""
    print(cmd)

insert into users (id,name,) values ()
insert into users (id,name,id,name,) values ()
insert into users (id,name,id,name,id,name,) values ()

In [50]:
for d in data:
    keys = [*d.keys()][::-1]
    values = [*d.values()][::-1]
    cmd = f'''insert into users {tuple(list(d.keys())[::-1])} values {tuple(list(d.values())[::-1])}'''
    print(cmd)

insert into users ('id', 'name') values (1, 'dolphi')
insert into users ('id', 'name') values (2, 'nishant')
insert into users ('id', 'name') values (3, 'ashish')

In [1]:
import pymysql as sql

db = sql.connect(host = 'localhost', port=3308, user = 'root')

In [2]:
cur = db.cursor()

In [3]:
cur.execute('show databases')

26

In [4]:
cur.fetchall()

(('charmi',),
 ('combined_project',),
 ('ebook',),
 ('ecom',),
 ('information_schema',),
 ('my_db',),
 ('my_python_database',),
 ('my_python_db',),
 ('mydatabase',),
 ('mydb_python',),
 ('mynewdatabase',),
 ('mypydatabase',),
 ('mysql',),
 ('mysql_python_db',),
 ('nirmohi',),
 ('performance_schema',),
 ('phpmyadmin',),
 ('pysqldb',),
 ('python_db',),
 ('python_sql_dbase',),
 ('quiz_db',),
 ('retake',),
 ('se_db',),
 ('second_database',),
 ('test',),
 ('xyz',))

In [5]:
cur.execute('use pysqldb')

0

In [6]:
cur.execute('show tables')

1

In [7]:
cur.fetchall()

(('users',),)

In [11]:
cur.execute('select * from users')

0

In [10]:
cur.fetchall()

()

In [12]:
cur.execute('insert into users (id, name) values(1, "vraj")')

1

In [13]:
db.commit()

In [14]:
cur.execute('select * from users')

1

In [15]:
cur.fetchall()

((1, 'vraj'),)

In [16]:
cur.execute('use retake')

0

In [17]:
cur.execute('show tables')

1

In [18]:
cur.fetchall()

(('students',),)

In [19]:
cur.execute('select * from students')

4

In [20]:
cur.fetchall()

((1, 'nilam parmar'), (2, 'jinal'), (3, 'ayush'), (4, 'tirth'))

In [21]:
# change database using method

db.select_db("pysqldb")

In [22]:
cur.execute('show tables')

1

In [23]:
cur.fetchall()

(('users',),)

In [24]:
data = [
    {
        'name': 'dolphi',
    },
    {
        'name': 'nishant',
    },
    {
        'name': 'ashish',
    }
]

In [29]:
for d in data:
    keys = [*d.keys()][::-1]
    values = [*d.values()][::-1]

    cmd = f"insert into users {tuple(keys)} values {tuple(values)}"
    print(cmd)

insert into users ('name',) values ('dolphi',)
insert into users ('name',) values ('nishant',)
insert into users ('name',) values ('ashish',)

In [31]:
k = "id"
print(f"""{k}""")

id

In [32]:
k = ["id", "name"]
print(f"""{tuple(k)}""")

('id', 'name')

In [35]:
k = ["id", "name"]
f = ''
for i in k:
    f += f"{i},"

In [36]:
f

'id,name,'

In [37]:
print(f"""({f})""")

(id,name,)

In [39]:
for d in data:
    keys = [*d.keys()][::-1]
    values = [*d.values()][::-1]
    f = ''
    for i in keys:
        f += f"{i},"
    cmd = f"insert into users ({f}) values {tuple(values)}"
    print(cmd)

insert into users (name,) values ('dolphi',)
insert into users (name,) values ('nishant',)
insert into users (name,) values ('ashish',)

In [49]:
c = 1
for d in data:
    keys = [*d.keys()][::-1]
    values = [*d.values()][::-1]

    c += 1
    values.append(c)
    values.reverse()
    f = ''
    for i in keys:
        f += f"{i},"
    cmd = f"insert into users (id, {f[:-1]}) values {tuple(values)}"
    cur.execute(cmd)
    print(cmd)
db.commit()

insert into users (id, name) values (2, 'dolphi')
insert into users (id, name) values (3, 'nishant')
insert into users (id, name) values (4, 'ashish')